// Style Guide Zeplin
$carbon= #333333
$red= #ff0000
$lime-green= #0abd3e
$timberwolf= #d8d8d8
$white= #ffffff
$light-gold= #ffd457
$soft-gray= #f5f5f5
$lead= #666666
$yellow-orange= #ec9e00
$pale-yellow= #fff4d4
$pale-green= #dffae7
$pale-red= #fbdede
$gray= #ada8a8
$silver= #eeeeee
$pale-pink= #ff87d8
$gray-light= #b3b3b3
$gray-mid = #f2f2f2
$gray-medium= #f3f3f3
$gray-lighter= #e4e4e4
$gray-dark= #444444

$background-color = #f8f8f8
$primary-color = #e10098
$primary-color-hover = #c20083
$sidebar-line-separator-color = #e6e6e6
