@font-face
  font-family 'robotobold'
  src url('/static/fonts/roboto/roboto-bold-webfont.eot')
  src url('/static/fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-bold-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotobold_italic'
  src url('/static/fonts/roboto/roboto-bolditalic-webfont.eot')
  src url('/static/fonts/roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-bolditalic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-bolditalic-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotoitalic'
  src url('/static/fonts/roboto/roboto-italic-webfont.eot')
  src url('/static/fonts/roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-italic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-italic-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-italic-webfont.svg#robotoitalic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotolight'
  src url('/static/fonts/roboto/roboto-light-webfont.eot')
  src url('/static/fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-light-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotolight_italic'
  src url('/static/fonts/roboto/roboto-lightitalic-webfont.eot')
  src url('/static/fonts/roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-lightitalic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-lightitalic-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotomedium'
  src url('/static/fonts/roboto/roboto-medium-webfont.eot')
  src url('/static/fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-medium-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotomedium_italic'
  src url('/static/fonts/roboto/roboto-mediumitalic-webfont.eot')
  src url('/static/fonts/roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-mediumitalic-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-mediumitalic-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-mediumitalic-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'robotoregular'
  src url('/static/fonts/roboto/roboto-regular-webfont.eot')
  src url('/static/fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
    url('/static/fonts/roboto/roboto-regular-webfont.woff') format('woff'),
    url('/static/fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
    url('/static/fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg')
  font-weight normal
  font-style normal





// --------------- ARIAL

@font-face
  font-family 'arial'
  src  url('/static/fonts/Arial/Arial Regular/arial-webfont.eot')
  src  url('/static/fonts/Arial/Arial Regular/arial-webfont.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.woff2') format('woff2'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.woff') format('woff'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.ttf') format('truetype'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.svg#arial') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'arialbold'
  src  url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.eot')
  src  url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.woff2') format('woff2'),
     url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.woff') format('woff'),
     url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.ttf') format('truetype'),
     url('/static/fonts/Arial/Arial Bold/arial_bold-webfont.svg#arial') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'ariallight'
  src  url('/static/fonts/Arial/Arial Regular/arial-webfont.eot')
  src  url('/static/fonts/Arial/Arial Regular/arial-webfont.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.woff2') format('woff2'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.woff') format('woff'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.ttf') format('truetype'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.svg#arial') format('svg')
  font-weight lighter
  font-style normal

@font-face
  font-family 'arialmedium'
  src  url('/static/fonts/Arial/Arial Regular/arial-webfont.eot')
  src  url('/static/fonts/Arial/Arial Regular/arial-webfont.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.woff2') format('woff2'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.woff') format('woff'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.ttf') format('truetype'),
     url('/static/fonts/Arial/Arial Regular/arial-webfont.svg#arial') format('svg')
  font-weight 500
  font-style normal

// --------------- GEORGIA

@font-face
  font-family 'georgia'
  src  url('/static/fonts/Georgia/Regular/Georgia.eot')
  src  url('/static/fonts/Georgia/Regular/Georgia.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Georgia/Regular/Georgia.woff2') format('woff2'),
     url('/static/fonts/Georgia/Regular/Georgia.woff') format('woff'),
     url('/static/fonts/Georgia/Regular/Georgia.ttf') format('truetype'),
     url('/static/fonts/Georgia/Regular/Georgia.svg#Georgia') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'georgiabold'
  src  url('/static/fonts/Georgia/Bold/Georgia.eot')
  src  url('/static/fonts/Georgia/Bold/Georgia.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Georgia/Bold/Georgia.woff2') format('woff2'),
     url('/static/fonts/Georgia/Bold/Georgia.woff') format('woff'),
     url('/static/fonts/Georgia/Bold/Georgia.ttf') format('truetype'),
     url('/static/fonts/Georgia/Bold/Georgia.svg#Georgia') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'georgialight'
  src  url('/static/fonts/Georgia/Regular/Georgia.eot')
  src  url('/static/fonts/Georgia/Regular/Georgia.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Georgia/Regular/Georgia.woff2') format('woff2'),
     url('/static/fonts/Georgia/Regular/Georgia.woff') format('woff'),
     url('/static/fonts/Georgia/Regular/Georgia.ttf') format('truetype'),
     url('/static/fonts/Georgia/Regular/Georgia.svg#Georgia') format('svg')
  font-weight lighter
  font-style normal

@font-face
  font-family 'georgiamedium'
  src  url('/static/fonts/Georgia/Regular/Georgia.eot')
  src  url('/static/fonts/Georgia/Regular/Georgia.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Georgia/Regular/Georgia.woff2') format('woff2'),
     url('/static/fonts/Georgia/Regular/Georgia.woff') format('woff'),
     url('/static/fonts/Georgia/Regular/Georgia.ttf') format('truetype'),
     url('/static/fonts/Georgia/Regular/Georgia.svg#Georgia') format('svg')
  font-weight 500
  font-style normal

// --------------- LATO

@font-face
  font-family 'latoregular'
  src  url('/static/fonts/Lato/Lato eot/Lato-Regular.eot')
  src  url('/static/fonts/Lato/Lato eot/Lato-Regular.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Lato/Lato woff2/Lato-Regular.woff2') format('woff2'),
     url('/static/fonts/Lato/Lato woff/Lato-Regular.woff') format('woff'),
     url('/static/fonts/Lato/Lato ttf/Lato-Regular.ttf') format('truetype'),
     url('/static/fonts/Lato/Lato svg/Lato-Regular.svg#Lato') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'latobold'
  src  url('/static/fonts/Lato/Lato eot/Lato-Bold.eot')
  src  url('/static/fonts/Lato/Lato eot/Lato-Bold.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Lato/Lato woff2/Lato-Bold.woff2') format('woff2'),
     url('/static/fonts/Lato/Lato woff/Lato-Bold.woff') format('woff'),
     url('/static/fonts/Lato/Lato ttf/Lato-Bold.ttf') format('truetype'),
     url('/static/fonts/Lato/Lato svg/Lato-Bold.svg#Lato') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'latomedium'
  src  url('/static/fonts/Lato/Lato eot/Lato-Medium.eot')
  src  url('/static/fonts/Lato/Lato eot/Lato-Medium.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Lato/Lato woff2/Lato-Medium.woff2') format('woff2'),
     url('/static/fonts/Lato/Lato woff/Lato-Medium.woff') format('woff'),
     url('/static/fonts/Lato/Lato ttf/Lato-Medium.ttf') format('truetype'),
     url('/static/fonts/Lato/Lato svg/Lato-Medium.svg#Lato') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'latolight'
  src  url('/static/fonts/Lato/Lato eot/Lato-Light.eot')
  src  url('/static/fonts/Lato/Lato eot/Lato-Light.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Lato/Lato woff2/Lato-Light.woff2') format('woff2'),
     url('/static/fonts/Lato/Lato woff/Lato-Light.woff') format('woff'),
     url('/static/fonts/Lato/Lato ttf/Lato-Light.ttf') format('truetype'),
     url('/static/fonts/Lato/Lato svg/Lato-Light.svg#Lato') format('svg')
  font-weight normal
  font-style normal

// --------------- FLAMA

@font-face
  font-family 'flamaregular'
  src  url('/static/fonts/Flama/Flama eot/Flama-Basic.eot')
  src  url('/static/fonts/Flama/Flama eot/Flama-Basic.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Flama/Flama woff2/Flama-Basic.woff2') format('woff2'),
     url('/static/fonts/Flama/Flama woff/Flama-Basic.woff') format('woff'),
     url('/static/fonts/Flama/Flama ttf/Flama-Basic.ttf') format('truetype'),
     url('/static/fonts/Flama/Flama svg/Flama-Basic.svg#flama') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'flamabold'
  src  url('/static/fonts/Flama/Flama eot/Flama-Bold.eot')
  src  url('/static/fonts/Flama/Flama eot/Flama-Bold.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Flama/Flama woff2/Flama-Bold.woff2') format('woff2'),
     url('/static/fonts/Flama/Flama woff/Flama-Bold.woff') format('woff'),
     url('/static/fonts/Flama/Flama ttf/Flama-Bold.ttf') format('truetype'),
     url('/static/fonts/Flama/Flama svg/Flama-Bold.svg#flama') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'flamamedium'
  src  url('/static/fonts/Flama/Flama eot/Flama-Medium.eot')
  src  url('/static/fonts/Flama/Flama eot/Flama-Medium.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Flama/Flama woff2/Flama-Medium.woff2') format('woff2'),
     url('/static/fonts/Flama/Flama woff/Flama-Medium.woff') format('woff'),
     url('/static/fonts/Flama/Flama ttf/Flama-Medium.ttf') format('truetype'),
     url('/static/fonts/Flama/Flama svg/Flama-Medium.svg#flama') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'flamalight'
  src  url('/static/fonts/Flama/Flama eot/Flama-Light.eot')
  src  url('/static/fonts/Flama/Flama eot/Flama-Light.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Flama/Flama woff2/Flama-Light.woff2') format('woff2'),
     url('/static/fonts/Flama/Flama woff/Flama-Light.woff') format('woff'),
     url('/static/fonts/Flama/Flama ttf/Flama-Light.ttf') format('truetype'),
     url('/static/fonts/Flama/Flama svg/Flama-Light.svg#flama') format('svg')
  font-weight normal
  font-style normal

// --------------- GOTHAM

@font-face
  font-family 'gothamregular'
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Book.eot')
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Book.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Gotham/Gotham woff2/GothamHTF-Book.woff2') format('woff2'),
     url('/static/fonts/Gotham/Gotham woff/GothamHTF-Book.woff') format('woff'),
     url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Book.ttf') format('truetype'),
     url('/static/fonts/Gotham/Gotham svg/GothamHTF-Book.svg#gotham') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'gothambold'
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Bold.eot')
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Bold.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Gotham/Gotham woff2/GothamHTF-Bold.woff2') format('woff2'),
     url('/static/fonts/Gotham/Gotham woff/GothamHTF-Bold.woff') format('woff'),
     url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Bold.ttf') format('truetype'),
     url('/static/fonts/Gotham/Gotham svg/GothamHTF-Bold.svg#gotham') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'gothammedium'
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Medium.eot')
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Gotham/Gotham woff2/GothamHTF-Medium.woff2') format('woff2'),
     url('/static/fonts/Gotham/Gotham woff/GothamHTF-Medium.woff') format('woff'),
     url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Medium.ttf') format('truetype'),
     url('/static/fonts/Gotham/Gotham svg/GothamHTF-Medium.svg#gotham') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'gothamlight'
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Light.eot')
  src  url('/static/fonts/Gotham/Gotham eot/GothamHTF-Light.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Gotham/Gotham woff2/GothamHTF-Light.woff2') format('woff2'),
     url('/static/fonts/Gotham/Gotham woff/GothamHTF-Light.woff') format('woff'),
     url('/static/fonts/Gotham/Gotham ttf/GothamHTF-Light.ttf') format('truetype'),
     url('/static/fonts/Gotham/Gotham svg/GothamHTF-Light.svg#gotham') format('svg')
  font-weight normal
  font-style normal

// --------------- TREBUCHET

@font-face
  font-family 'trebuchet'
  src  url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.eot')
  src  url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff2') format('woff2'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff') format('woff'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.ttf') format('truetype'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.svg#trebuchet') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'trebuchetbold'
  src  url('/static/fonts/Trebuchet MS/Bold/Trebuchet MS Bold.eot')
  src  url('/static/fonts/Trebuchet MS/Bold/Trebuchet MS Bold.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Trebuchet MS/Bold/Trebuchet MS Bold.woff2') format('woff2'),
     url('/static/fonts/Trebuchet MS/Bold/Trebuchet MS-Bold.woff') format('woff'),
     url('/static/fonts/Trebuchet MS/Bold/Trebuchet MS-Bold.ttf') format('truetype'),
     url('/static/fonts/Trebuchet MS/Bold/Trebuchet MS-Bold.svg#trebuchet') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'trebuchetlight'
  src  url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.eot')
  src  url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff2') format('woff2'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff') format('woff'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.ttf') format('truetype'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.svg#trebuchet') format('svg')
  font-weight lighter
  font-style normal

@font-face
  font-family 'trebuchetmedium'
  src  url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.eot')
  src  url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff2') format('woff2'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.woff') format('woff'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.ttf') format('truetype'),
     url('/static/fonts/Trebuchet MS/Regular/Trebuchet MS.svg#trebuchet') format('svg')
  font-weight 500
  font-style normal

// --------------- TIMES NEW ROMAN

@font-face
  font-family 'timesregular'
  src  url('/static/fonts/Times New Roman/Regular/Times New Roman.eot')
  src  url('/static/fonts/Times New Roman/Regular/Times New Roman.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.woff2') format('woff2'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.woff') format('woff'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.ttf') format('truetype'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.svg#trebuchet') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'timesbold'
  src  url('/static/fonts/Times New Roman/Bold/Times New Roman.eot')
  src  url('/static/fonts/Times New Roman/Bold/Times New Roman.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Times New Roman/Bold/Times New Roman.woff2') format('woff2'),
     url('/static/fonts/Times New Roman/Bold/Times New Roman.woff') format('woff'),
     url('/static/fonts/Times New Roman/Bold/Times New Roman.ttf') format('truetype'),
     url('/static/fonts/Times New Roman/Bold/Times New Roman.svg#trebuchet') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'timeslight'
  src  url('/static/fonts/Times New Roman/Regular/Times New Roman.eot')
  src  url('/static/fonts/Times New Roman/Regular/Times New Roman.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.woff2') format('woff2'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.woff') format('woff'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.ttf') format('truetype'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.svg#trebuchet') format('svg')
  font-weight lighter
  font-style normal

@font-face
  font-family 'timesmedium'
  src  url('/static/fonts/Times New Roman/Regular/Times New Roman.eot')
  src  url('/static/fonts/Times New Roman/Regular/Times New Roman.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.woff2') format('woff2'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.woff') format('woff'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.ttf') format('truetype'),
     url('/static/fonts/Times New Roman/Regular/Times New Roman.svg#trebuchet') format('svg')
  font-weight 500
  font-style normal

// --------------- CENTURY GOTHIC

@font-face
  font-family 'centuryregular'
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic.eot')
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Century Gothic/Century Gothic woff2/CenturyGothic.woff2') format('woff2'),
     url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic.woff') format('woff'),
     url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHIC.ttf') format('truetype'),
     url('/static/fonts/Century Gothic/Century Gothic svg/CenturyGothic.svg#trebuchet') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'centurybold'
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic-Bold.eot')
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Century Gothic/Century Gothic woff2/CenturyGothic-Bold.woff2') format('woff2'),
     url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic-Bold.woff') format('woff'),
     url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHICB.ttf') format('truetype'),
     url('/static/fonts/Century Gothic/Century Gothic svg/CenturyGothic-Bold.svg#trebuchet') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'centurylight'
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic.eot')
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Century Gothic/Century Gothic woff2/CenturyGothic.woff2') format('woff2'),
     url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic.woff') format('woff'),
     url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHIC.ttf') format('truetype'),
     url('/static/fonts/Century Gothic/Century Gothic svg/CenturyGothic.svg#trebuchet') format('svg')
  font-weight lighter
  font-style normal

@font-face
  font-family 'centurymedium'
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic.eot')
  src  url('/static/fonts/Century Gothic/Century Gothic eot/CenturyGothic.eot?#iefix') format('embedded-opentype'),
     url('/static/fonts/Century Gothic/Century Gothic woff2/CenturyGothic.woff2') format('woff2'),
     url('/static/fonts/Century Gothic/Century Gothic woff/CenturyGothic.woff') format('woff'),
     url('/static/fonts/Century Gothic/Century Gothic ttf/GOTHIC.ttf') format('truetype'),
     url('/static/fonts/Century Gothic/Century Gothic svg/CenturyGothic.svg#trebuchet') format('svg')
  font-weight 500
  font-style normal